* {
	margin:0;
	padding: 0;
	box-sizing: border-box; 
}

.header {
	width: 100%;
	height:120px;
	background-color: red;
}

.header-logo {
	width:100%;
    height:70px;
	background-color:pink;
}

.header-navi {
	width:100%;
    height:50px;
	background-color:lightpink;

}

.main-visual {
	width:100%;
    height:300px;
	background-color:lightyellow;

}



.visual-text {
	width:300px;
    height:300px;
	background-color:yellow;
    
}

.main {
	width:800px;
    height:1200px;
	background-color:darkgreen;
	margin:0 auto;

}

.blog {
	width:70%;
    height:1200px;
	background-color:green;
    float:left;
}

.side {
	width:30%;
    height:1200px;
	background-color:lightgreen;
    float:left;
}

.footer {
	width:100%;
    height:200px;
	background-color:blue;

}